html{
    scroll-snap-type: y mandatory;
    /* Tom add scroll bar.Without this line the code was not working for scroll */
}

.App{
    background-color: black;
    height:100%;
    display: grid;
    place-items:center;
    /* hack to place reel in center */
}
/* Hide scroll bar for Chrome, Safari and Opera */
.app_videos::-webkit-scrollbar{
    display:none
}
/* Hide scroll bar for IE, Edge and Firefox */
.app_videos{
    -ms-overflow-style: none;
    scrollbar-width:none;

}

.app_videos{
    position: relative;
  height: 800px;
  border-radius: 20px;
  overflow: scroll;
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory;

    /* dont make overflow as hidden otherwise scroll will disappear */
    /* adds scroll bar for videos */
   
}